* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.title {
    margin: 30px auto;
    font-size: 40px;
    text-align: center;
}
.setup {
    max-width: 400px;
    margin: 30px auto;
    border: 1px black solid;
    border-radius: 20px;
}
.setup-title {
    display:block;
    margin: 10px 20px;
    font-size: 16px;
}
.setup-input { 
    display: block;
    width: 90%;
    margin: 10px calc(5% - 4px);
}
.setup-button {
    display: block;
    width: 100px;
    margin: 10px auto;
}
.main {
    display: none;
}
.board {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 30px auto;
}
.board_row {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.board_cell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border: 1px black solid;
}
.status {
    width: 400px;
    height: 200px;
    margin: auto;
}
#status-text {
    font-size: 20px;
    text-align: center;
}